<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
         	http://www.springframework.org/schema/context
         	http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/task  
   			http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:property-placeholder location="classpath*:configuration.properties" />
	<context:mbean-export registration="replaceExisting" />

	<task:annotation-driven executor="executor" scheduler="scheduler"/>
	<task:executor id="executor" pool-size="5"/>
	<task:scheduler id="scheduler" pool-size="10"/>

	<import resource="classpath:/persistenceConfigurationContextMock.xml" />

	<bean id="filterStreamCollector-1" destroy-method="stop"
		class="ch.armasuisse.twitterdemo.FilterStreamCollector">
		<property name="kafkaHostname" value="${kafka.hostname}" />
		<property name="kafkaPort" value="${kafka.port}" />
		<property name="kafkaTopicName" value="${kafka.topicName11}" />

		<property name="numberOfProcessingThreads" value="5" />

		<property name="targetId" value="34df6f70-ed49-11e2-91e2-0800200c9a66" />
		<property name="configurationRepository" ref="configurationRepository" />

	</bean>

</beans>